<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Home/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/index.css" rel="stylesheet" type="text/css" />

<link href="__PUBLIC__/Home/css/index2.css" rel="stylesheet" type="text/css"  />
    <link href="__PUBLIC__/kefu/css/style2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/kefu/js/jquery-1.8.3.min.js"></script>
    <script>
        var jQuery_1_8_3 = $.noConflict(true);
    </script>
    <script>
        jQuery_1_8_3(function(){
            jQuery_1_8_3('#close_im').bind('click',function(){
                jQuery_1_8_3('#main-im').css("height","0");
                jQuery_1_8_3('#im_main').hide();
                jQuery_1_8_3('#open_im').show();
            });
            jQuery_1_8_3('#open_im').bind('click',function(e){
                jQuery_1_8_3('#main-im').css("height","272");
                jQuery_1_8_3('#im_main').show();
                jQuery_1_8_3(this).hide();
            });
            jQuery_1_8_3('.go-top').bind('click',function(){
                jQuery_1_8_3(window).scrollTop(0);
            });
            jQuery_1_8_3(".weixing-container").bind('mouseenter',function(){
                jQuery_1_8_3('.weixing-show').show();
            })
            jQuery_1_8_3(".weixing-container").bind('mouseleave',function(){
                jQuery_1_8_3('.weixing-show').hide();
            });
        });
    </script>

<title>森特首页</title>
<script type="text/javascript" src='__PUBLIC__/Home/js/jquery.js'></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/superslide.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slidelf.js"></script>



<script language="JavaScript" type="text/javascript" src="__PUBLIC__/Home/js/prototype.js"></script>
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/Home/js/effects.js"></script>
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/Home/js/glider.js"></script>
</head>

<body>
<div class="container">
<!--  top-->
<div  class="top">
  <p></p>
  <div class="logo">
        <div class="right">
         <ul>
             <li><span><a href="#"><img src="__PUBLIC__/Home/img/top_06.png" width="35" height="31" /></a></span></li>
              <li>分享主页</li>
              <li><span><a href="#"><img src="__PUBLIC__/Home/img/top_08.png" width="37" height="31" /></a></span></li>
              <li><span><a href="#"><img src="__PUBLIC__/Home/img/top_09.png" width="35" height="31" /></a></span></li>
              <li><span><a href="#"><img src="__PUBLIC__/Home/img/top_10.png" width="36" height="31" /></a></span></li>
              <li><span><img src="__PUBLIC__/Home/img/top_14.png" width="35" height="28" /></span></li>
              <li>客服中心</li>
              <li>&nbsp;02038812035</li>
          </ul>
      </div>
  </div>
</div>
<!--  nav-->
    <div class="nav">
          <div class="nav_weizhi">
            <ul>
                 <a href="index.html">  <li  class="xianshi">首&nbsp;&nbsp;页</li></a>
                 <a href="news.html">  <li  >新闻动态</li></a>
                 <a href="service.html">  <li>服务支持</li></a>
                 <a href="products_and_solution.html">  <li>森特产品与方案</li></a>
                 <a href="buy.html">  <li>如何购买</li></a>
                 <a href="about_us.html">  <li>关于森特</li></a>
                 <a href="recruit.html">  <li>招贤纳士</li></a>
            </ul>
          </div>
    </div>
<!--  nav-->   
   
  <!--s s -->
<div class="slider">
  <div class="bd">
    <ul>
      <li><a  href=""><img src="__PUBLIC__/Home/images/1.jpg" /></a>
       </li>
      
       <li><a href="#"><img src="__PUBLIC__/Home/images/1.jpg" /></a></li>
        <li><a href="#"><img src="__PUBLIC__/Home/images/2.jpg" /></a></li>
      <li><a  href="#"><img src="__PUBLIC__/Home/images/3.jpg" /></a></li>
      <li><a  href="#"><img src="__PUBLIC__/Home/images/4.jpg" /></a></li>
    </ul>
  </div>
  <div class="hd">
    <ul>
    </ul>
  </div>
  <div class="pnBtn prev"> <span class="blackBg"></span> <a class="arrow" href="javascript:void(0)"><img src="__PUBLIC__/Home/images/main_4.png" alt="" width="57" height="60" /></a> </div>
  <div class="pnBtn next"> <span class="blackBg"></span> <a class="arrow" href="javascript:void(0)"><img src="__PUBLIC__/Home/images/main_5.png" alt="" width="55" height="60" /></a> </div>
</div>

 <!-- 公司介绍-->
    <div class="corporation">   
    <div class="left">
      <div class="left_main">
      <li class="lia"> 公司简介/About Us</li>
      <li class="font15px">注重产品与服务的质量，您的满意是我们最大的支持！</li>
      <a href="#"><li class="font15px a11"><span> > </span>查看详细</li></a>
      
      </div>
    </div>
    <div class="right">
      <div class="left1">
      <img src="__PUBLIC__/Home/img/main_right_2.png" width="107" height="111" /> </div>
  <div class="right">
            <img src="__PUBLIC__/Home/img/main_right_1.png" width="216" height="217" /></div>
      </div>
      
       <!-- 4部小车-->
    <div class="xia">
        <div class="xiao1">
          <ul class="aa1">
          <img src="__PUBLIC__/Home/img/main_xiaotu_1.png" width="55" height="52" />
          <li>服务支持</li>
          </ul>
          <p>森特公司秉承"品质至上、力求客户满意的"的理念，建立起了全方位高品质、规范的客服服务体系。</p>
          
     </div>
        <div class="xiao1">
            <ul>
              <img  src="__PUBLIC__/Home/img/main_xiaotu_2.png" width="55" height="52" />
              <li>如何购买 </li>
          </ul>
          <p>森特公司秉承"品质至上、力求客户满意的"的理念，建立起了全方位高品质、规范的客服服务体系。</p>
    </div>
        <div class="xiao1">
         <ul>
          <img  src="__PUBLIC__/Home/img/main_xiaotu_3.png" width="55" height="52" />
          <li>产品方案 </li>
          </ul>
         <p>森特公司秉承"品质至上、力求客户满意的"的理念，建立起了全方位高品质、规范的客服服务体系。</p>
     </div>
       <div class="xiao1">
        <ul>
          <img src="__PUBLIC__/Home/img/main_xiaotu_4.png" width="55" height="52" />
          <li>常见问题 </li>
         </ul>
        <p>森特公司秉承"品质至上、力求客户满意的"的理念，建立起了全方位高品质、规范的客服服务体系。</p>
      </div>
    
      </div>
  </div>
  
  <!-- 生产理念  -->
  <div class="linian">
    <div class="linian_main">
    <li class="font30px"><span><__PUBLIC__/Home/img src="__PUBLIC__/Home/img/xian_xian-23.png" width="76" height="29" /></span> &nbsp;&nbsp;生产理念/Conceot&nbsp;&nbsp;<span><img src="__PUBLIC__/Home/img/xian_xian-23.png" width="76" height="29" /></span></li>
    
    <div class="linian_xia">
     <span><img src="__PUBLIC__/Home/img/linian_xia01.png" width="311" height="165" /></span>
     <li class="font17px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;&nbsp;工业自动化</li>
     <p class="font14px">  自1995年首次推出交流马达驱动以来，森特特续在质量、可靠度和精确度上精益求精，实践工业自动化[创变未来]的承诺。</p>
   
    </div>
  <div class="linian_xia">
     <span><img src="__PUBLIC__/Home/img/linian_xia01.png" width="311" height="165" /></span>
     <li class="font17px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;&nbsp;工业自动化</li>
     <p class="font14px">  自1995年首次推出交流马达驱动以来，森特特续在质量、可靠度和精确度上精益求精，实践工业自动化[创变未来]的承诺。</p>
   
    </div>
        <div class="linian_xia">
     <span><img src="__PUBLIC__/Home/img/linian_xia01.png" width="311" height="165" /></span>
     <li class="font17px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;&nbsp;工业自动化</li>
     <p class="font14px"> 自1995年首次推出交流马达驱动以来，森特特续在质量、可靠度和精确度上精益求精，实践工业自动化[创变未来]的承诺。</p>
   
    </div>
    </div>
  </div>
    <!-- 产品展示  -->
  <div class="chanpin">
  <li class="font30px"><span> <img src="__PUBLIC__/Home/img/hei_xian1.png" width="69" height="30" /></span> &nbsp;&nbsp;生产展示/Products&nbsp;&nbsp;<span><img src="__PUBLIC__/Home/img/hei_xian1.png" width="69" height="30" /></span></li>
    <li class="font18px">最新产品系列给您不一样的体验</li>	
    <div class="chanpin_left">
       <div class="a1">
              <a href="#">  
               <ul class="datu">
          <li class="tu"><img src="__PUBLIC__/Home/img/chanpin_01.png" width="276" height="276" /></li>
          </ul></a>
                <li class="font14px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;传感器</li>
      </div>
<div class="a2">
             <a href="#"> <ul class="tu_right"> 
               <li class="tu"><span> <img src="__PUBLIC__/Home/img/chanpin_02.png" width="113" height="112" /></span> </li>
         
               </ul></a>
                   <li class="font14px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;自动稳压型智能&nbsp;UPS</li>
         </div>
<div class="a2">
               <a href="#"> <ul class="tu_right"> 
               <li class="tu"><span> <img src="__PUBLIC__/Home/img/chanpin_02.png" width="113" height="112" /></span> </li>
         
               </ul></a>
                   <li class="font14px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;自动转换开关电器</li>
         </div>
<div class="a2">
              <a href="#">  <ul class="tu_right"> 
               <li class="tu"><span> <img src="__PUBLIC__/Home/img/chanpin_02.png" width="113" height="112" /></span> </li>
         
               </ul></a>
                   <li class="font14px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;多功能数显示表</li>
         </div>
<div class="a2">
               <a href="#"> <ul class="tu_right"> 
               <li class="tu"><span> <img src="__PUBLIC__/Home/img/chanpin_02.png" width="113" height="112" /></span> </li>
         
               </ul></a>
                   <li class="font14px"><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>&nbsp;多功能显表</li>
         </div>
    </div>
    
    <div class="xia">
    <a href="#"><li><span>></span>&nbsp;&nbsp;分类查看</li></a>
    </div>
  </div>
  
  <!-- 更多产品 -->
  



  <!--   lainiasd-->
<DIV class=feature id=my-glider>
  <DIV class=scroller>
    <DIV class=content>
      <DIV class=section id=section1> 
      <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_15.gif"></A>
      <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_16.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_17.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_18.gif"></A> </DIV>
      <DIV class=section id=section2> 
         <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_15.gif"></A>
      <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_16.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_17.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_18.gif"></A> </DIV>
      <DIV class=section id=section3> 
         <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_15.gif"></A>
      <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_16.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_17.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_18.gif"></A> </DIV>
      <DIV class=section id=section4>
           <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_15.gif"></A>
      <A href="#" target="_blank"><IMG src="__PUBLIC__/Home/images/pro_16.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_17.gif"></A>
      <A href="#" target="_blank"><IMG  src="__PUBLIC__/Home/images/pro_18.gif"></A></DIV>
    </DIV>
  </DIV>
  <A id=prevLink onClick="my_glider.previous();return false;" href="http://www.mobanwang.cn/">Previous</A>&nbsp;
   <A id=nextLink onClick="my_glider.next();return false" href="http://www.mobanwang.cn/">Next</A>
  <SCRIPT language=javascript type=text/javascript>
	var my_glider = new Glider('my-glider', {duration:0.5});
</SCRIPT>
</DIV>



 <!--   lainiasd-->

  <!-- 更多产品 -->
  
  <!-- 公司新闻 -->
  <div class="chanpin">
  <li class="font30px"><span> <img src="__PUBLIC__/Home/img/hei_xian1.png" width="69" height="30" /></span> &nbsp;&nbsp;公司新闻/News&nbsp;&nbsp;<span><img src="__PUBLIC__/Home/img/hei_xian1.png" width="69" height="30" /></span></li>
  <div class="wei_1">
    <img src="__PUBLIC__/Home/img/wei_01.png" width="312" height="163" />
    <a href="#">森特始终恪守质量诚信 维护消费者权益</a>
    <li><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>
    森特荣获"全国质量诚信优秀典型企业"，称号生产线企业的质量安全一直广受社会关注，企业的诚信经营尤为受到消费者重视，森特始终坚守诚信信条，诚信是企业的灵魂。。。 </li>
    <a href="#" class="more">更多</a>
    </div>  
   <div class="wei_1">
    <img src="__PUBLIC__/Home/img/wei_02.png" width="312" height="163" />
    <a href="#">森特始终恪守质量诚信 维护消费者权益</a>
    <li><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>
    森特荣获"全国质量诚信优秀典型企业"，称号生产线企业的质量安全一直广受社会关注，企业的诚信经营尤为受到消费者重视，森特始终坚守诚信信条，诚信是企业的灵魂。。。 </li>
    <a href="#" class="more">更多</a>
    </div>  
   <div class="wei_1">
    <img src="__PUBLIC__/Home/img/wei_03.png" width="312" height="163" />
    <a href="#">森特始终恪守质量诚信 维护消费者权益</a>
    <li><span><img src="__PUBLIC__/Home/img/linian_xia04.png" width="19" height="15" /></span>
    森特荣获"全国质量诚信优秀典型企业"，称号生产线企业的质量安全一直广受社会关注，企业的诚信经营尤为受到消费者重视，森特始终坚守诚信信条，诚信是企业的灵魂。。。 </li>
    <a href="#" class="more">更多</a>
    </div>  
 
</div>
<!--  footer-->
 <div class="footers">
   
    <div class="footer">
         <div class="a footer_1">
          <h4>森特电子有限公司</h4>
            <ul class="aa">
                <li>电话</li>
                 <li>020&nbsp;38812035</li>
                  <li>传真</li>
                   <li>020&nbsp;38812035</li>
                    <li>TEL00</li>
                     <li>186	76289867</li>
                      <li>地址</li>
                       <li>广州市天河路365号&nbsp;天俊阁1202</li>
                       
            </ul>
        
        </div>
         <div class="a footer_2">
            <h4>新闻动态</h4>
         
              <ul class="aa">
                  <li><a href="#">公司新闻</a></li>
                  <li><a href="#">行业动态</a></li>
                  <li><a href="#">人物专访</a></li>
                  <li><a href="#">名家专访</a></li>
                  <li><a href="#">防伪认证</a></li>
                  <li><a href="#">通知公告</a></li>
              </ul>
        </div>
         <div class="a footer_3">
           <h4>服务支持</h4>
         
                <ul class="aa">
                  <li><a href="#">服务承诺</a></li>
                  <li><a href="#">服务网点</a></li>
                  <li><a href="#">服务产品</a></li>
                  <li><a href="#">下载中心</a></li>
              
              </ul>
        </div>
         <div class="a footer_4">
           <h4>森特产品与方案</h4>
             <ul class="aa">
                     <li><a href="#">后备式</a></li>
                     <li><a href="#">在线式Castle系列</a></li>
                     <li><a href="#">监控产品</a></li>
                      <li><a href="#">促销</a></li>
                     <li><a href="#">    模块化ARRAY系列</a></li>
                     <li><a href="#">   配电产品</a></li>
                     <li><a href="#">城堡系列电池</a></li>
                      <li><a href="#">   方案应用</a></li>
              </ul>
          </div>
         <div class="a footer_5">
            <h4>如何购买</h4>
                <ul class="aa">
                          <li><a href="#">渠道代理</a></li>
                          <li><a href="#">如何选购</a></li>
                          <li><a href="#">常见问题</a></li>
        
                  </ul>
          </div>
         <div class="a footer_6">
           <h4>关于森特</h4>
         
             <ul class="aa">
                  <li><a href="#">公司简介</a></li>
                  <li><a href="#">企业理念</a></li>
                  <li><a href="#">公司地址</a></li>
                  <li><a href="#">分支机构</a></li>
               <li><a href="#">我们的荣誉</a></li>
       
              </ul>
           </div>
         <div class="a footer_7">
           <h4>招纳贤士</h4>
             <ul class="aa">
                    <li><a href="#">招聘动态</a></li>
                    <li><a href="#">高校招聘</a></li>
                   <li><a href="#">社会招聘</a></li>
           
              </ul>
        </div>
        
     
    </div>
    
<div class="tupian"><a href="#"><img src="__PUBLIC__/Home/img/footer_1.png" width="55" height="54" /></a>
    </div>
     <div class="footer_8"> 
  <p>森特电子科技有限公司版权所有©2004-2015 侵权必究 粤ICP备11021230号</p>
        </div> 
   </div>
</div>
<!--在线客服-->
<div class="main-im">
<div id="open_im" class="open-im">&nbsp;</div>
<div class="im_main" id="im_main">
    <div id="close_im" class="close-im"><a href="javascript:void(0);" title="点击关闭">&nbsp;</a></div>
    <a href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes" target="_blank" class="im-qq qq-a" title="在线QQ客服">
        <div class="qq-container"></div>
        <div class="qq-hover-c"><img class="img-qq" src="__PUBLIC__/kefu/images/qq.png"></div>
        <span> QQ在线咨询</span>
    </a>
    <div class="im-tel">
        <div>售前咨询热线</div>
        <div class="tel-num">400-123-45678</div>
        <div>售后咨询热线</div>
        <div class="tel-num">010-12345678</div>
    </div>
    <div class="im-footer" style="position:relative">
        <div class="weixing-container">
            <div class="weixing-show">
                <div class="weixing-txt">微信扫一扫<br>关注jQuery插件库</div>
                <img class="weixing-ma" src="__PUBLIC__/kefu/images/weixing-ma.jpg">
                <div class="weixing-sanjiao"></div>
                <div class="weixing-sanjiao-big"></div>
            </div>
        </div>
        <div class="go-top"><a href="javascript:;" title="返回顶部"></a> </div>
        <div style="clear:both"></div>
    </div>
</div>
</div>


<style>
.slider .hd li {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:8px;
	height:8px;
	line-height:99px;
	overflow:hidden;
	margin:0 5px;
	cursor:pointer;
	filter:alpha(opacity=60);
	opacity:0.6;
	background-image: url(/Public/Home/images/slider-btn.png);
	background-repeat: no-repeat;
	background-position: 0 -10px;
}</style>
<script type="text/javascript">
jQuery(".slider .bd li").first().before( jQuery(".slider .bd li").last() );
jQuery(".slider").hover(function(){ jQuery(this).find(".arrow").stop(true,true).fadeIn(300) },function(){ jQuery(this).find(".arrow").fadeOut(300) });				jQuery(".slider").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"leftLoop",autoPlay:true, vis:3,autoPage:true, trigger:"click"});
</script>


</body>
</html>
