@charset "utf-8";
/* CSS Document */

.container .pro .pro_right ul li {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 20px;
	color: #4c596b;
}
.container .pro .pro_right {
	float: left;
	width: 700px;
	padding-top: 50px;
	padding-left: 32px;
}
.container .pro .pro_right ul img{
	width: 351px;
}
