@charset "utf-8";
.container .pro .pro_right {
	float: left;
	width: 700px;
	padding-left: 57px;
	padding-top: 17px;
}
.container .pro .pro_right ul .biaoti {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #102540;
	text-align: center;
}
.container .pro .pro_right ul .lianxi {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #f37e91;
	text-align: center;
}
.container .pro .pro_right .jvli {
	margin-top: 300px;
}


.container .pro .pro_right ul li {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #4c5c70;
}
