*{
	margin: 0px;
	padding: 0px;
	}
.comm {

	width: 980px;
	margin-left:auto;
	margin-right:auto;

}
.too{
	height: 120px;
	width: 980px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EE445F;
	
	}
.too p{
	font-family: "微软雅黑";
	font-size: 30px;
	padding-top: 60px;
	position: relative;
	}
.too p img{
	position: absolute;
	top: 67px;
	}
.pro_left {
	float: left;
	width: 200px;

}
.pro_left ul {
	list-style-type: none;

}
.pro_left ul a  {
	text-decoration: none;
	
}

.pro_left ul a li {
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 60px;
	height: 60px;
	width: 220px;
	color: #102540;
	padding-left: 25px;
}
.pro_left ul a li:hover {
	color: #FFF;
	background-image: url(../img/1.gif);
	background-repeat: no-repeat;	
}
.right {
	float: right;
	height: 850px;
	width: 748px;
}

.size td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	padding-top: 18px;
	padding-bottom: 18px;
		
}
table {
	text-align: center;
	float: right;
	margin-top: 10px;
}
.table_top td {
	font-family: "微软雅黑";
	font-size: 16px;
	background-color: #FDF4E1;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-top: 13px;
	padding-bottom: 13px;
}
table .size {
	font-size: 14px;
	font-family: "黑体";	
}

table .size : hover {
	background-color: #0C3;
}
tr.size:hover span a{
		background-color:#939CA9;
		color: #FFF;
}
tr.size span a {
	text-decoration: none;
	color: #333;
	font-family: "黑体";
	display:inline-block;
	width:100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pro_rightfot {
	width: 400px;
	margin-left: 500px;
	position: relative;
	margin-top: 5px;
	margin-bottom: 55px;
	float: left;
}
.pro_rightfot span a{
	text-decoration: none;	
	color: #333;
	font-family: "黑体";		
}
.pro_rightfot span a:hover{
	color: #EE445F;	
}
.pro_rightfot img {
	border:0px;
	position: absolute;
	top: -5px;
}
